# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Algorithms and data structures.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Програмирование\C#\Алгоритмы и структуры данных\Algorithms and data structures\.idea\.idea.Algorithms and data structures\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
